@charset "UTF-8";

body {
    background-color: rgb(117, 153, 231);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
    margin-top: 75px;
}

main {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
}

h1 {
    font-size: 2.5em;
}

#msg {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
}

img {
    display: block;
    width: 50%;
    border-radius: 50%;
    margin: auto auto 10px auto;
}

#bomdtn {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}