@charset "UTF-8";

body {
    background-color: #F98607;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
    margin-top: 75px;
}

main {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
}

main > article > div > p#anodn {
    display: inline;
}

button {
    background-color: #F23C05;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
}

button:hover {
    text-decoration: underline;
}

section {

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

footer > p > a {
    color: white;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
}